{% extends 'base/base.html' %}
{% load static %}
{% block content %}
    <body class="">
    <div class="login-content">
        <div class="brand-name">
            <h1>Jotodo</h1>
        </div>
        <div class="login-block">
            <h1>Register</h1>
            <form method="POST">
                {% csrf_token %}
                <div class="register-content">
                    <div class="register-content-divs">
                        <label>{{ form.username.label }}</label>
                        {{ form.username }}
                    </div>
                    <div class="register-content-divs">
                        <label>{{ form.password1.label }}</label>
                        {{ form.password1 }}
                    </div>
                    <div class="register-content-divs">
                        <label>{{ form.password2.label }}</label>
                        {{ form.password2 }}
                    </div>
                </div>
                <input style="margin-top:10px ;" id="login-btn" type="submit" value="Register">
            </form>
            <p>Already have an account? <a id="register-link" href="{% url 'login' %}">Login</a></p>
        </div>
    </div>

    </body>
{% endblock content %}
